.portfolioBg{
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.portfolioDescription{
    font-size: 14px;
    font-weight: 600;
    color: #96b5b5;
}
.leftSide{
    margin-right: auto;
}
.rightSide{
    margin-left: auto;
}
.portfolioInner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
